<a href="https://colab.research.google.com/github/PriyaMurali/Data-Analysis/blob/main/HiveMySQLDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from collections import Counter
!wget -q https://dlcdn.apache.org/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz
!tar xf spark-3.3.0-bin-hadoop3.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.0-bin-hadoop3"

In [2]:
!apt-get update
!apt-get install --fix-missing openjdk-8-jdk-headless -qq > /dev/null

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:2 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease [1,581 B]
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:9 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [90.7 kB]
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [903 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,937 kB]
Get:16 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,533 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,100 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,095 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,369 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,073 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,141 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,310 kB]
Get:24 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Get:25 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [47.7 kB]
Fetched 17.0 MB in 6s (2,900 kB/s)
Reading package lists... Done

In [3]:
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp37-cp37m-manylinux1_x86_64.whl (25.4 MB)
     |████████████████████████████████| 25.4 MB 60.8 MB/s
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf<=3.20.1,>=3.11.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

In [ ]:
#HIve Mysql Example
import mysql.connector
import pandas as pd

appName = "PySpark MySQL Example - via mysql.connector"
master = "local"

spark = SparkSession.builder.master(master).appName(appName).getOrCreate()

# Establish a connection
conn = mysql.connector.connect(user='***', database='***',
                               password='***',
                               host="localhost",
                               port=10101)
cursor = conn.cursor()
query = "SELECT id, value FROM test_table"
# Create a pandas dataframe
pdf = pd.read_sql(query, con=conn)
conn.close()

# Convert Pandas dataframe to spark DataFrame
df = spark.createDataFrame(pdf)

df.show()

In [ ]:
from pyspark.sql import HiveContext
hc = HiveContext(spark.sparkContext)
print(hc)

<pyspark.sql.context.HiveContext object at 0x7f7ffd540990>

/content/spark-3.3.0-bin-hadoop3/python/pyspark/sql/context.py:721: FutureWarning: HiveContext is deprecated in Spark 2.0.0. Please use SparkSession.builder.enableHiveSupport().getOrCreate() instead.
  FutureWarning,
/content/spark-3.3.0-bin-hadoop3/python/pyspark/sql/context.py:114: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning,

In [ ]:
hc.sql('create database db') #where db is the database name
hc.sql('use db')

DataFrame[]

In [ ]:
##Storing Data in HiveContext
from pyspark.sql.types import StructType, StructField, FloatType, StringType
iris_schema = StructType([
StructField("Sepal_Length", FloatType(), True),
StructField("Sepal_Width", FloatType(), True),
StructField("Petal_Length", FloatType(), True),
StructField("Petal_Width", FloatType(), True),
StructField("Species", StringType(), True)
])
iris1_df1 = spark.read.csv(path='/content/iris.csv',sep=',',header=True,schema=iris_schema)
hc.sql('use db')
from pyspark.sql import DataFrameWriter
dfw = DataFrameWriter(iris1_df1)
dfw.saveAsTable(name="iris",mode='overwrite')

In [ ]:
hc.tableNames()

['iris']

In [ ]:
#Retriving Data from HiveContext
hc.sql('Select count(*) as RecordCount from iris').show()

+-----------+
|RecordCount|
+-----------+
|        150|
+-----------+

In [5]:
#SQLSESSION
spark = SparkSession \
        .builder \
        .appName("PySparkSQLTelecom") \
        .getOrCreate()
sc = spark.sparkContext

In [9]:
Customer = sc.textFile("/content/LexSparkCompanyInfoExample.csv")

In [16]:
splitCustomer = Customer.map(lambda var1: var1.split(","))

In [23]:
columns=["CompanyID","CompanyName","CompanyLocation","CompanyAddress","CompanyContact","ProfitMargin","EstablishedYear"]
dfCompanyInfo = spark.createDataFrame(splitCustomer,columns)
dfCompanyInfo.show()

+---------+----------------+---------------+--------------------+--------------+------------+---------------+
|CompanyID|     CompanyName|CompanyLocation|      CompanyAddress|CompanyContact|ProfitMargin|EstablishedYear|
+---------+----------------+---------------+--------------------+--------------+------------+---------------+
|    C1001|    Steel Wheels|   Pennsylvania|    80 Stang Parkway|    7172809057|  4061361.08|           2007|
|    C1002|   MotoLab Bikes|          Texas|     1 Anthes Avenue|    6829309477|  2733417.09|           2011|
|    C1003|        Lee Auto|     California|   87985 Linden Pass|    6193601290|  4422985.26|           1994|
|    C1004|     Zoom Dynamo|          Texas| 56 La Follette Pass|    8327309957|  3102258.84|           1993|
|    C1005|Quakesons Motors|          Texas|  8 Briar Crest Pass|    8175902345|  3584342.27|           2002|
|    C1006|    Steel Wheels|   Pennsylvania|    035 Iowa Terrace|    5706889534|  3169758.24|           2009|
|    C1007|     Raido Bikes|         Hawaii|    3925 Clove Drive|    8086946394|  2856030.07|           2001|
|    C1008|    Steel Wheels|      Tennessee|    9 Straubel Drive|    6155558344|  3097479.68|           2012|
|    C1009| Ilmio Jane Moto|   Pennsylvania|   816 Northland Way|    6108768782|  4533228.43|           2007|
|    C1010|      Reo Bailio|         Kansas|    10165 Gerald Way|    7857454105|  4510956.99|           2012|
|    C1011|    Steel Wheels|        Arizona|83 Merchant Junction|    6026446720|  2025983.74|           1992|
|    C1012|Wingmo Standards|     Washington|1249 Summerview Pass|    5091629062|  3886123.67|           2006|
|    C1013|    Craiko Roads|           Iowa|   5 Bowman Junction|    3191050692|  4883173.55|           1990|
|    C1014|      Reo Bailio|     California|      3 Chinook Park|    6195580058|  2956803.47|           1995|
|    C1015|    Craiko Roads|  Massachusetts|   90535 Bonner Lane|    9787302834|  2327476.04|           1991|
|    C1016|  Osborne Fields|  Massachusetts| 056 Straubel Avenue|    4132534690|  2365522.73|           2012|
|    C1017|       Rigmarole|   Pennsylvania| 70 Wayridge Parkway|    8143178647|  2434578.77|           2006|
|    C1018|     Raido Bikes|       Illinois|     609 Truax Alley|    8476652456|  2227555.04|           1998|
|    C1019|     Zoom Dynamo|       Oklahoma|948 Marquette Circle|    9183903501|  3776453.21|           1992|
|    C1020|       Rigmarole|     New Jersey|  4121 Atwood Circle|    8624680309|  4052208.06|           2003|
+---------+----------------+---------------+--------------------+--------------+------------+---------------+
only showing top 20 rows

In [34]:
from pyspark.sql.functions import col
dfCompanyInfo = dfCompanyInfo.withColumn("CompanyContact",col("CompanyContact").cast(IntegerType()))\
                .withColumn("ProfitMargin",col("ProfitMargin").cast(DoubleType()))\
                .withColumn("EstablishedYear",col("EstablishedYear").cast(IntegerType()))
dfCompanyInfo.dtypes

[('CompanyID', 'string'),
 ('CompanyName', 'string'),
 ('CompanyLocation', 'string'),
 ('CompanyAddress', 'string'),
 ('CompanyContact', 'int'),
 ('ProfitMargin', 'double'),
 ('EstablishedYear', 'int')]

In [31]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType ,DoubleType
schemaList = StructType() \
      .add("OrderID",StringType(),True) \
      .add("CompanyID",StringType(),True) \
      .add("CompanyName",StringType(),True) \
      .add("CompanyLocation",StringType(),True) \
      .add("ComponentToBeManufactured",StringType(),True) \
      .add("Quantity",IntegerType(),True) \
      .add("EstimatedCost",DoubleType(),True) \
      .add("OrderDate",StringType(),True) \
      .add("DueDate",StringType(),True) \
      .add("CompletionStatus",StringType(),True) \
      .add("DeliveryStatus",StringType(),True) \

In [32]:
#headers =["OrderID","CompanyID","CompanyName","CompanyLocation","ComponentToBeManufactured","Quantity","EstimatedCost","OrderDate","DueDate","CompletionStatus","DeliveryStatus"]
dfCompanyOrders = spark.read.csv("/content/LexSparkCompanyOrdersExample.csv",schema=schemaList) 
dfCompanyOrders.show()

+-------+---------+----------------+---------------+-------------------------+--------+-------------+---------+---------+----------------+--------------+
|OrderID|CompanyID|     CompanyName|CompanyLocation|ComponentToBeManufactured|Quantity|EstimatedCost|OrderDate|  DueDate|CompletionStatus|DeliveryStatus|
+-------+---------+----------------+---------------+-------------------------+--------+-------------+---------+---------+----------------+--------------+
|OD10001|    C1108|     Raido Bikes|        Georgia|             Spring Forks|   21103|   9487867.48| 3-Nov-19|24-Dec-19|         Pending|       Pending|
|OD10002|    C1035| Ilmio Jane Moto| North Carolina|                   Fender|   26272|   4899369.32|18-Dec-19|14-Mar-20|         Pending|       Pending|
|OD10003|    C1174|   MotoLab Bikes|         Nevada|                Generator|   39789|   4008848.49| 7-Dec-19|31-Jan-20|       Completed|     Delivered|
|OD10004|    C1121|        Lee Auto|         Oregon|                   Brakes|   22670|   7932390.15|21-Nov-19| 5-Mar-20|       Completed|       Pending|
|OD10005|    C1093|Quakesons Motors|     California|            Exhaust Pipes|   36773|   6101829.61| 8-Dec-19| 9-Mar-20|         Pending|       Pending|
|OD10006|    C1166|       Rigmarole|       New York|            Exhaust Pipes|   46571|   8704566.05|19-Dec-19|10-Jan-20|         Pending|       Pending|
|OD10007|    C1030|        Lee Auto|         Kansas|          Ignition Switch|   28519|   9635904.98| 4-Dec-19|28-Jan-20|         Pending|       Pending|
|OD10008|    C1092|     Zoom Dynamo|     Washington|                     Horn|   34745|   4907497.55|10-Dec-19|12-Mar-20|       Completed|     Delivered|
|OD10009|    C1135| Ilmio Jane Moto|        Georgia|              Hand Clutch|   27246|   6667701.97| 9-Dec-19| 7-Jan-20|       Completed|       Pending|
|OD10010|    C1045|    Damson Bikes|        Alabama|          Ignition Switch|   45392|   9522045.75|16-Dec-19|12-Jan-20|       Completed|     Delivered|
|OD10011|    C1027|     Wicker Auto| North Carolina|               Safety Bar|   46650|   9875771.29|10-Nov-19|26-Jan-20|       Completed|     Delivered|
|OD10012|    C1121|        Lee Auto|         Oregon|                 Oil Tank|   22509|    8501074.4|28-Oct-19| 8-Jan-20|         Pending|       Pending|
|OD10013|    C1078|    Craiko Roads|      Wisconsin|                  Muffler|   33612|    2323395.6|18-Dec-19| 9-Jan-20|       Completed|     Delivered|
|OD10014|    C1076|     Raido Bikes|      Louisiana|                     Horn|   55747|   1676391.19| 3-Nov-19| 1-Mar-20|         Pending|       Pending|
|OD10015|    C1020|       Rigmarole|     New Jersey|              Speedometer|   21080|   1323523.14| 4-Nov-19|25-Mar-20|         Pending|       Pending|
|OD10016|    C1001|    Steel Wheels|   Pennsylvania|                   Engine|   42101|   5118078.25|13-Oct-19|29-Feb-20|       Completed|     Delivered|
|OD10017|    C1064|     Zoom Dynamo|  West Virginia|     Ignition Circuit ...|   41117|    5630252.2| 9-Dec-19|31-Jan-20|         Pending|       Pending|
|OD10018|    C1073| Ilmio Jane Moto|        Florida|          Ignition Switch|   44926|   3601243.24| 5-Dec-19| 1-Feb-20|       Completed|       Pending|
|OD10019|    C1165|Quakesons Motors|       New York|          Ignition Switch|   34487|   6893359.34|12-Dec-19|24-Feb-20|         Pending|       Pending|
|OD10020|    C1102|    Laser Wheels|        Florida|              Speedometer|   28687|   8445328.46| 6-Nov-19|17-Mar-20|       Completed|     Delivered|
+-------+---------+----------------+---------------+-------------------------+--------+-------------+---------+---------+----------------+--------------+
only showing top 20 rows

In [35]:
dfCompanyInfo.createOrReplaceTempView("CompanyInfo")
dfCompanyOrders.createOrReplaceTempView("CompanyOrders")

In [36]:
spark.sql("show tables").show()

+---------+-------------+-----------+
|namespace|    tableName|isTemporary|
+---------+-------------+-----------+
|         |  companyinfo|       true|
|         |companyorders|       true|
+---------+-------------+-----------+

In [44]:
#Fetch the details of all the companies that are at least 20 years old.
dfCompany = spark.sql("Select * from companyinfo where ('2022'-EstablishedYear) >20")
dfCompany.show()

+---------+------------------+--------------------+--------------------+--------------+------------+---------------+
|CompanyID|       CompanyName|     CompanyLocation|      CompanyAddress|CompanyContact|ProfitMargin|EstablishedYear|
+---------+------------------+--------------------+--------------------+--------------+------------+---------------+
|    C1003|          Lee Auto|          California|   87985 Linden Pass|          null|  4422985.26|           1994|
|    C1004|       Zoom Dynamo|               Texas| 56 La Follette Pass|          null|  3102258.84|           1993|
|    C1007|       Raido Bikes|              Hawaii|    3925 Clove Drive|          null|  2856030.07|           2001|
|    C1011|      Steel Wheels|             Arizona|83 Merchant Junction|          null|  2025983.74|           1992|
|    C1013|      Craiko Roads|                Iowa|   5 Bowman Junction|          null|  4883173.55|           1990|
|    C1014|        Reo Bailio|          California|      3 Chinook Park|          null|  2956803.47|           1995|
|    C1015|      Craiko Roads|       Massachusetts|   90535 Bonner Lane|          null|  2327476.04|           1991|
|    C1018|       Raido Bikes|            Illinois|     609 Truax Alley|          null|  2227555.04|           1998|
|    C1019|       Zoom Dynamo|            Oklahoma|948 Marquette Circle|          null|  3776453.21|           1992|
|    C1022|       Zoom Dynamo|          California|     7 Lukken Street|          null|  4527121.28|           1995|
|    C1023|   Ilmio Jane Moto|           Louisiana|     86 Westport Way|          null|   4144689.6|           1993|
|    C1026|  Quakesons Motors|            Colorado|46231 Killdeer Point|          null|  2167098.55|           1994|
|    C1027|       Wicker Auto|      North Carolina|      68 Muir Street|          null|  3130560.75|           1991|
|    C1029|       Raido Bikes|           Wisconsin|93613 Myrtle Junc...|          null|  4255883.39|           1994|
|    C1032|      Damson Bikes|District of Columbia| 3759 Graedel Circle|    2022347662|  3482392.14|           2001|
|    C1033|Maino World Motors|          New Mexico|68124 Brentwood Hill|          null|  3741359.96|           2001|
|    C1035|   Ilmio Jane Moto|      North Carolina|        14 Muir Pass|          null|  3715158.41|           2000|
|    C1036|    Osborne Fields|               Texas|8971 Coleman Junc...|          null|  2639415.07|           1966|
|    C1037|           Neopins|             Indiana|      6475 Gina Park|          null|  4325308.76|           1995|
|    C1038|Maino World Motors|            Michigan|      31 Luster Hill|          null|  4159528.64|           1995|
+---------+------------------+--------------------+--------------------+--------------+------------+---------------+
only showing top 20 rows

In [75]:
#Fetch the name of the company which has the highest profit margin among those who have ordered Ignition Switch.
df_HighProfit = spark.sql("select companyinfo.companyname,max(ProfitMargin) as ProfitMargin from companyinfo \
                          join companyorders on \
                          companyinfo.CompanyID = companyorders.CompanyID \
                          where ComponentToBeManufactured ='Ignition Switch'\
                          group by companyinfo.companyname \
                          order by ProfitMargin desc Limit(1)")
df_HighProfit.show()

+-----------+------------+
|companyname|ProfitMargin|
+-----------+------------+
| Kioto Moto|  4834622.33|
+-----------+------------+

In [80]:
#Find the total number of companies that have ordered Fender.
dfCompanyOrders.select(dfCompanyOrders['CompanyName']) \
               .where(dfCompanyOrders['ComponentToBeManufactured'] == 'Fender') \
               .count()

40

In [89]:
#total number of exhaust pipes ordered from North Carolina 
dfCompanyOrders.select(dfCompanyOrders['Quantity'])\
               .where((dfCompanyOrders['ComponentToBeManufactured'] =='Exhaust Pipes') &\
                      (dfCompanyOrders['CompanyLocation'] == 'North Carolina'))\
               .show()

+--------+
|Quantity|
+--------+
|   42112|
+--------+

In [91]:
dfExp = spark.sql("select sum(Quantity) from companyorders \
                    where ComponentToBeManufactured = 'Exhaust Pipes' \
                    and CompanyLocation = 'North Carolina'").show()
dfExp.show()

+-------------+
|sum(Quantity)|
+-------------+
|        42112|
+-------------+

In [94]:
# Find the total count of all the orders that has been completed but not delivered yet.

dfCompanyOrders.where((dfCompanyOrders['CompletionStatus'] =='Completed') &\
                      (dfCompanyOrders['DeliveryStatus'] == 'Pending'))\
               .count()

246

In [109]:
import pyspark.sql.functions as F
#Display all the orders whose status is still pending. Reduce the total cost of all such orders by 10%. 
#Store them in a file called DiscountOrders.csv
df_Discount = dfCompanyOrders.where((dfCompanyOrders['CompletionStatus'] == 'Pending'))
df_Discount = df_Discount.withColumn('EstimatedCost',F.round(dfCompanyOrders['EstimatedCost']*10/100,2))
df_Discount.write.csv("/content/DiscountOrders.csv",header=True)
df_Discount.show()

+-------+---------+------------------+---------------+-------------------------+--------+-------------+---------+---------+----------------+--------------+
|OrderID|CompanyID|       CompanyName|CompanyLocation|ComponentToBeManufactured|Quantity|EstimatedCost|OrderDate|  DueDate|CompletionStatus|DeliveryStatus|
+-------+---------+------------------+---------------+-------------------------+--------+-------------+---------+---------+----------------+--------------+
|OD10001|    C1108|       Raido Bikes|        Georgia|             Spring Forks|   21103|    948786.75| 3-Nov-19|24-Dec-19|         Pending|       Pending|
|OD10002|    C1035|   Ilmio Jane Moto| North Carolina|                   Fender|   26272|    489936.93|18-Dec-19|14-Mar-20|         Pending|       Pending|
|OD10005|    C1093|  Quakesons Motors|     California|            Exhaust Pipes|   36773|    610182.96| 8-Dec-19| 9-Mar-20|         Pending|       Pending|
|OD10006|    C1166|         Rigmarole|       New York|            Exhaust Pipes|   46571|    870456.61|19-Dec-19|10-Jan-20|         Pending|       Pending|
|OD10007|    C1030|          Lee Auto|         Kansas|          Ignition Switch|   28519|     963590.5| 4-Dec-19|28-Jan-20|         Pending|       Pending|
|OD10012|    C1121|          Lee Auto|         Oregon|                 Oil Tank|   22509|    850107.44|28-Oct-19| 8-Jan-20|         Pending|       Pending|
|OD10014|    C1076|       Raido Bikes|      Louisiana|                     Horn|   55747|    167639.12| 3-Nov-19| 1-Mar-20|         Pending|       Pending|
|OD10015|    C1020|         Rigmarole|     New Jersey|              Speedometer|   21080|    132352.31| 4-Nov-19|25-Mar-20|         Pending|       Pending|
|OD10017|    C1064|       Zoom Dynamo|  West Virginia|     Ignition Circuit ...|   41117|    563025.22| 9-Dec-19|31-Jan-20|         Pending|       Pending|
|OD10019|    C1165|  Quakesons Motors|       New York|          Ignition Switch|   34487|    689335.93|12-Dec-19|24-Feb-20|         Pending|       Pending|
|OD10022|    C1051|        Reo Bailio|      Minnesota|                 Oil Tank|   58065|    249001.92| 5-Nov-19|12-Jan-20|         Pending|       Pending|
|OD10023|    C1026|  Quakesons Motors|       Colorado|     Ignition Circuit ...|   49210|    750607.22|30-Nov-19|25-Jan-20|         Pending|       Pending|
|OD10026|    C1098|Nando Kewillswitch|        Indiana|                  Muffler|   25292|    408271.52|29-Nov-19|10-Jan-20|         Pending|       Pending|
|OD10029|    C1184|       Sano Wheels|         Nevada|                Generator|   58684|    244046.82|17-Oct-19| 8-Feb-20|         Pending|       Pending|
|OD10032|    C1112|           Neopins|           Ohio|              Brake Cable|   39647|     788450.4|22-Oct-19|11-Feb-20|         Pending|       Pending|
|OD10035|    C1017|         Rigmarole|   Pennsylvania|                   Brakes|   55351|    352909.46|17-Dec-19| 3-Feb-20|         Pending|       Pending|
|OD10036|    C1035|   Ilmio Jane Moto| North Carolina|              Speedometer|   22991|     765193.6|20-Nov-19|29-Jan-20|         Pending|       Pending|
|OD10037|    C1200|   Ilmio Jane Moto|       Virginia|     Ignition Circuit ...|   58877|    680659.59|10-Dec-19|16-Feb-20|         Pending|       Pending|
|OD10038|    C1158|     MotoLab Bikes|          Texas|               Safety Bar|   22335|    681718.45|26-Oct-19|25-Mar-20|         Pending|       Pending|
|OD10039|    C1077|Nando Kewillswitch|     California|        Rubber Fork Boots|   38765|    898037.18|12-Oct-19|29-Dec-19|         Pending|       Pending|
+-------+---------+------------------+---------------+-------------------------+--------+-------------+---------+---------+----------------+--------------+
only showing top 20 rows

In [132]:
#Based on the previous question, fetch the total cost to be paid by all the franchises having company name as Laser Wheels
from pyspark.sql.functions import sum
df_Discount.where(df_Discount['CompanyName'] == 'Laser Wheels')\
           .select(sum(df_Discount['EstimatedCost']))\
           .show()

+------------------+
|sum(EstimatedCost)|
+------------------+
|        8548640.87|
+------------------+

In [133]:
spark.stop