<a href="https://colab.research.google.com/github/PriyaMurali/Data-Analysis/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from collections import Counter

In [ ]:
ls

In [ ]:
pwd

In [ ]:
!apt-get install  --fix-missing openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
!update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java
!java -version

In [ ]:
!wget -q https://dlcdn.apache.org/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz

In [ ]:
!tar xf spark-3.3.0-bin-hadoop3.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.0-bin-hadoop3"

In [ ]:
!ls

cars.csv  sample_data  spark-3.3.0-bin-hadoop3	spark-3.3.0-bin-hadoop3.tgz

In [ ]:
os.environ["SPARK_HOME"]

'/content/spark-3.3.0-bin-hadoop3'

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)
spark

In [ ]:
!wget https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv

--2022-08-08 15:19:30--  https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobceles.github.io (jacobceles.github.io)... 185.199.110.153, 185.199.109.153, 185.199.111.153, ...
Connecting to jacobceles.github.io (jacobceles.github.io)|185.199.110.153|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv [following]
--2022-08-08 15:19:30--  https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobcelestine.com (jacobcelestine.com)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobcelestine.com (jacobcelestine.com)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22608 (22K) [text/csv]
Saving to: ‘cars.csv.1’

cars.csv.1          100%[===================>]  22.08K  --.-KB/s    in 0.001s

2022-08-08 15:19:30 (20.0 MB/s) - ‘cars.csv.1’ saved [22608/22608]

In [ ]:
!ls

cars.csv    sample_data		     spark-3.3.0-bin-hadoop3.tgz
cars.csv.1  spark-3.3.0-bin-hadoop3

In [ ]:
df = spark.read.csv('cars.csv',header=True,sep=';')
df.show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [ ]:
#import pandas as pd
#df=pd.read_csv('/content/cars.csv',header = 0,sep=';')

In [ ]:
#from pyspark import SparkContext
#sc1 = SparkContext(master='local',appName='test1')

In [ ]:
df.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [ ]:
df.dtypes

[('Car', 'string'),
 ('MPG', 'string'),
 ('Cylinders', 'string'),
 ('Displacement', 'string'),
 ('Horsepower', 'string'),
 ('Weight', 'string'),
 ('Acceleration', 'string'),
 ('Model', 'string'),
 ('Origin', 'string')]

In [ ]:
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

In [ ]:
from pyspark.sql.types import *

#change Datatype Explicitly
labels = [
 ('Car', StructType()),
 ('MPG', 'Double'),
 ('Cylinders', 'Integer'),
 ('Displacement', 'Double'),
 ('Horsepower', 'Double'),
 ('Weight', 'Double'),
 ('Acceleration', 'Double'),
 ('Model', 'Integer'),
 ('Origin', 'string')]

In [ ]:
from pyspark.sql.types import *
labels = [
     ('Car',StringType()),
     ('MPG',DoubleType()),
     ('Cylinders',IntegerType()),
     ('Displacement',DoubleType()),
     ('Horsepower',DoubleType()),
     ('Weight',DoubleType()),
     ('Acceleration',DoubleType()),
     ('Model',IntegerType()),
     ('Origin',StringType())
]
schema = StructType([StructField (x[0], x[1], True) for x in labels])
schema

StructType([StructField('Car', StringType(), True), StructField('MPG', DoubleType(), True), StructField('Cylinders', IntegerType(), True), StructField('Displacement', DoubleType(), True), StructField('Horsepower', DoubleType(), True), StructField('Weight', DoubleType(), True), StructField('Acceleration', DoubleType(), True), StructField('Model', IntegerType(), True), StructField('Origin', StringType(), True)])

In [ ]:
print(df.Car)
print("*"*20)
df.select(df.Car).show(truncate=False)

Column<'Car'>
********************
+--------------------------------+
|Car                             |
+--------------------------------+
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
|Buick Estate Wagon (sw)         |
+--------------------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col
df.select(col('car')).show(truncate=False)

+--------------------------------+
|car                             |
+--------------------------------+
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
|Buick Estate Wagon (sw)         |
+--------------------------------+
only showing top 20 rows

In [ ]:
#Adding new column
from pyspark.sql.functions import lit
df = df.withColumn('first_column',lit(1))
df.show(5,truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|first_column|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504. |12.0        |70   |US    |1           |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693. |11.5        |70   |US    |1           |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436. |11.0        |70   |US    |1           |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433. |12.0        |70   |US    |1           |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449. |10.5        |70   |US    |1           |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+
only showing top 5 rows

In [ ]:
#GroupBY
df.groupBy('Origin').count().show(5)

+------+-----+
|Origin|count|
+------+-----+
|Europe|   73|
|    US|  254|
| Japan|   79|
+------+-----+

In [ ]:
df.groupBy('Origin', 'Model').count().show(5)

+------+-----+-----+
|Origin|Model|count|
+------+-----+-----+
| Japan|   76|    4|
|    US|   81|   13|
|    US|   80|    7|
|    US|   76|   22|
| Japan|   70|    2|
+------+-----+-----+
only showing top 5 rows

In [ ]:
#Remove Column
df = df.drop('first_column')
df.show(5,truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504. |12.0        |70   |US    |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693. |11.5        |70   |US    |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436. |11.0        |70   |US    |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433. |12.0        |70   |US    |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449. |10.5        |70   |US    |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [ ]:
# Filtering rows in PySpark based on Multiple conditions
total_count = df.count()
print("TOTAL RECORD COUNT: " + str(total_count))
europe_filtered_count = df.filter((col('Origin')=='Europe') &
                                  (col('Cylinders')==4)).count() # Two conditions added here
print("EUROPE FILTERED RECORD COUNT: " + str(europe_filtered_count))
df.filter(col('Origin')=='Europe').show(truncate=False)

TOTAL RECORD COUNT: 406
EUROPE FILTERED RECORD COUNT: 66
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                         |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Citroen DS-21 Pallas        |0   |4        |133.0       |115.0     |3090. |17.5        |70   |Europe|
|Volkswagen 1131 Deluxe Sedan|26.0|4        |97.00       |46.00     |1835. |20.5        |70   |Europe|
|Peugeot 504                 |25.0|4        |110.0       |87.00     |2672. |17.5        |70   |Europe|
|Audi 100 LS                 |24.0|4        |107.0       |90.00     |2430. |14.5        |70   |Europe|
|Saab 99e                    |25.0|4        |104.0       |95.00     |2375. |17.5        |70   |Europe|
|BMW 2002                    |26.0|4        |121.0       |113.0     |2234. |12.5        |70   |Europe|
|Volkswagen Super Beetle 117 |0   |4        |97.00       |48.00     |1978. |20.0        |71   |Europe|
|Opel 1900                   |28.0|4        |116.0       |90.00     |2123. |14.0        |71   |Europe|
|Peugeot 304                 |30.0|4        |79.00       |70.00     |2074. |19.5        |71   |Europe|
|Fiat 124B                   |30.0|4        |88.00       |76.00     |2065. |14.5        |71   |Europe|
|Volkswagen Model 111        |27.0|4        |97.00       |60.00     |1834. |19.0        |71   |Europe|
|Volkswagen Type 3           |23.0|4        |97.00       |54.00     |2254. |23.5        |72   |Europe|
|Volvo 145e (sw)             |18.0|4        |121.0       |112.0     |2933. |14.5        |72   |Europe|
|Volkswagen 411 (sw)         |22.0|4        |121.0       |76.00     |2511. |18.0        |72   |Europe|
|Peugeot 504 (sw)            |21.0|4        |120.0       |87.00     |2979. |19.5        |72   |Europe|
|Renault 12 (sw)             |26.0|4        |96.00       |69.00     |2189. |18.0        |72   |Europe|
|Volkswagen Super Beetle     |26.0|4        |97.00       |46.00     |1950. |21.0        |73   |Europe|
|Fiat 124 Sport Coupe        |26.0|4        |98.00       |90.00     |2265. |15.5        |73   |Europe|
|Fiat 128                    |29.0|4        |68.00       |49.00     |1867. |19.5        |73   |Europe|
|Opel Manta                  |24.0|4        |116.0       |75.00     |2158. |15.5        |73   |Europe|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [ ]:
#Distinct Rows
df.select('Origin','model').distinct().show()

+------+-----+
|Origin|model|
+------+-----+
| Japan|   76|
|    US|   81|
|    US|   80|
|    US|   76|
| Japan|   70|
|    US|   78|
|Europe|   76|
|    US|   70|
| Japan|   75|
|Europe|   80|
| Japan|   77|
|Europe|   72|
|    US|   75|
|    US|   79|
|    US|   82|
|Europe|   75|
| Japan|   78|
|    US|   71|
| Japan|   82|
| Japan|   80|
+------+-----+
only showing top 20 rows

In [ ]:
#RDD

cars = spark.sparkContext.textFile('cars.csv')
print(cars.first())
cars_header = cars.first()
cars_rest = cars.filter(lambda line: line!=cars_header)
print(cars_rest.first())

Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin
Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US

In [ ]:
#Cars in Europe and Japan
(cars_rest.filter(lambda line: line.split(";")[8] in ['Europe','Japan']).
 map(lambda line: (line.split(";")[0],
    line.split(";")[1],
    line.split(";")[2],
    line.split(";")[5],
    line.split(";")[8])).collect())

[('Citroen DS-21 Pallas', '0', '4', '3090.', 'Europe'),
 ('Toyota Corolla Mark ii', '24.0', '4', '2372.', 'Japan'),
 ('Datsun PL510', '27.0', '4', '2130.', 'Japan'),
 ('Volkswagen 1131 Deluxe Sedan', '26.0', '4', '1835.', 'Europe'),
 ('Peugeot 504', '25.0', '4', '2672.', 'Europe'),
 ('Audi 100 LS', '24.0', '4', '2430.', 'Europe'),
 ('Saab 99e', '25.0', '4', '2375.', 'Europe'),
 ('BMW 2002', '26.0', '4', '2234.', 'Europe'),
 ('Datsun PL510', '27.0', '4', '2130.', 'Japan'),
 ('Toyota Corolla', '25.0', '4', '2228.', 'Japan'),
 ('Volkswagen Super Beetle 117', '0', '4', '1978.', 'Europe'),
 ('Opel 1900', '28.0', '4', '2123.', 'Europe'),
 ('Peugeot 304', '30.0', '4', '2074.', 'Europe'),
 ('Fiat 124B', '30.0', '4', '2065.', 'Europe'),
 ('Toyota Corolla 1200', '31.0', '4', '1773.', 'Japan'),
 ('Datsun 1200', '35.0', '4', '1613.', 'Japan'),
 ('Volkswagen Model 111', '27.0', '4', '1834.', 'Europe'),
 ('Toyota Corolla Hardtop', '24.0', '4', '2278.', 'Japan'),
 ('Volkswagen Type 3', '23.0', '4', '2254.', 'Europe'),
 ('Mazda RX2 Coupe', '19.0', '3', '2330.', 'Japan'),
 ('Volvo 145e (sw)', '18.0', '4', '2933.', 'Europe'),
 ('Volkswagen 411 (sw)', '22.0', '4', '2511.', 'Europe'),
 ('Peugeot 504 (sw)', '21.0', '4', '2979.', 'Europe'),
 ('Renault 12 (sw)', '26.0', '4', '2189.', 'Europe'),
 ('Datsun 510 (sw)', '28.0', '4', '2288.', 'Japan'),
 ('Toyota Corolla Mark II (sw)', '23.0', '4', '2506.', 'Japan'),
 ('Toyota Corolla 1600 (sw)', '27.0', '4', '2100.', 'Japan'),
 ('Volkswagen Super Beetle', '26.0', '4', '1950.', 'Europe'),
 ('Toyota Camry', '20.0', '4', '2279.', 'Japan'),
 ('Datsun 610', '22.0', '4', '2379.', 'Japan'),
 ('Mazda RX3', '18.0', '3', '2124.', 'Japan'),
 ('Fiat 124 Sport Coupe', '26.0', '4', '2265.', 'Europe'),
 ('Fiat 128', '29.0', '4', '1867.', 'Europe'),
 ('Opel Manta', '24.0', '4', '2158.', 'Europe'),
 ('Audi 100LS', '20.0', '4', '2582.', 'Europe'),
 ('Volvo 144ea', '19.0', '4', '2868.', 'Europe'),
 ('Saab 99le', '24.0', '4', '2660.', 'Europe'),
 ('Toyota Mark II', '20.0', '6', '2807.', 'Japan'),
 ('Datsun B210', '31.0', '4', '1950.', 'Japan'),
 ('Toyota Corolla 1200', '32.0', '4', '1836.', 'Japan'),
 ('Audi Fox', '29.0', '4', '2219.', 'Europe'),
 ('Volkswagen Dasher', '26.0', '4', '1963.', 'Europe'),
 ('Opel Manta', '26.0', '4', '2300.', 'Europe'),
 ('Toyota Corolla', '31.0', '4', '1649.', 'Japan'),
 ('Datsun 710', '32.0', '4', '2003.', 'Japan'),
 ('Fiat 128', '24.0', '4', '2108.', 'Europe'),
 ('Fiat 124 TC', '26.0', '4', '2246.', 'Europe'),
 ('Honda Civic', '24.0', '4', '2489.', 'Japan'),
 ('Subaru', '26.0', '4', '2391.', 'Japan'),
 ('Fiat x1.9', '31.0', '4', '2000.', 'Europe'),
 ('Toyota Corolla', '29.0', '4', '2171.', 'Japan'),
 ('Toyota Corolla', '24.0', '4', '2702.', 'Japan'),
 ('Volkswagen Dasher', '25.0', '4', '2223.', 'Europe'),
 ('Datsun 710', '24.0', '4', '2545.', 'Japan'),
 ('Volkswagen Rabbit', '29.0', '4', '1937.', 'Europe'),
 ('Audi 100LS', '23.0', '4', '2694.', 'Europe'),
 ('Peugeot 504', '23.0', '4', '2957.', 'Europe'),
 ('Volvo 244DL', '22.0', '4', '2945.', 'Europe'),
 ('Saab 99LE', '25.0', '4', '2671.', 'Europe'),
 ('Honda Civic CVCC', '33.0', '4', '1795.', 'Japan'),
 ('Fiat 131', '28.0', '4', '2464.', 'Europe'),
 ('Opel 1900', '25.0', '4', '2220.', 'Europe'),
 ('Renault 12tl', '27.0', '4', '2202.', 'Europe'),
 ('Volkswagen Rabbit', '29.0', '4', '1937.', 'Europe'),
 ('Honda Civic', '33.0', '4', '1795.', 'Japan'),
 ('Volkswagen Rabbit', '29.5', '4', '1825.', 'Europe'),
 ('Datsun B-210', '32.0', '4', '1990.', 'Japan'),
 ('Toyota Corolla', '28.0', '4', '2155.', 'Japan'),
 ('Volvo 245', '20.0', '4', '3150.', 'Europe'),
 ('Peugeot 504', '19.0', '4', '3270.', 'Europe'),
 ('Toyota Mark II', '19.0', '6', '2930.', 'Japan'),
 ('Mercedes-Benz 280s', '16.5', '6', '3820.', 'Europe'),
 ('Honda Accord CVCC', '31.5', '4', '2045.', 'Japan'),
 ('Renault 5 GTL', '36.0', '4', '1825.', 'Europe'),
 ('Datsun F-10 Hatchback', '33.5', '4', '1945.', 'Japan'),
 ('Volkswagen Rabbit Custom', '29.0', '4', '1940.', 'Europe'),
 ('Toyota Corolla Liftback', '26.0', '4', '2265.', 'Japan'),
 ('Subaru DL', '30.0', '4', '1985.', 'Japan'),
 ('Volkswagen Dasher', '30.5', '4', '2190.', 'Europe'),
 ('Datsun 810', '22.0', '6', '2815.', 'Japan'),
 ('BMW 320i', '21.5', '4', '2600.', 'Europe'),
 ('Mazda RX-4', '21.5', '3', '2720.', 'Japan'),
 ('Volkswagen Rabbit Custom Diesel', '43.1', '4', '1985.', 'Europe'),
 ('Mazda GLC Deluxe', '32.8', '4', '1985.', 'Japan'),
 ('Datsun B210 GX', '39.4', '4', '2070.', 'Japan'),
 ('Honda Civic CVCC', '36.1', '4', '1800.', 'Japan'),
 ('Toyota Corolla', '27.5', '4', '2560.', 'Japan'),
 ('Datsun 510', '27.2', '4', '2300.', 'Japan'),
 ('Toyota Celica GT Liftback', '21.1', '4', '2515.', 'Japan'),
 ('Datsun 200-SX', '23.9', '4', '2405.', 'Japan'),
 ('Audi 5000', '20.3', '5', '2830.', 'Europe'),
 ('Volvo 264gl', '17.0', '6', '3140.', 'Europe'),
 ('Saab 99gle', '21.6', '4', '2795.', 'Europe'),
 ('Peugeot 604sl', '16.2', '6', '3410.', 'Europe'),
 ('Volkswagen Scirocco', '31.5', '4', '1990.', 'Europe'),
 ('Honda Accord LX', '29.5', '4', '2135.', 'Japan'),
 ('Volkswagen Rabbit Custom', '31.9', '4', '1925.', 'Europe'),
 ('Mazda GLC Deluxe', '34.1', '4', '1975.', 'Japan'),
 ('Mercedes Benz 300d', '25.4', '5', '3530.', 'Europe'),
 ('Peugeot 504', '27.2', '4', '3190.', 'Europe'),
 ('Datsun 210', '31.8', '4', '2020.', 'Japan'),
 ('Fiat Strada Custom', '37.3', '4', '2130.', 'Europe'),
 ('Volkswagen Rabbit', '41.5', '4', '2144.', 'Europe'),
 ('Toyota Corolla Tercel', '38.1', '4', '1968.', 'Japan'),
 ('Datsun 310', '37.2', '4', '2019.', 'Japan'),
 ('Audi 4000', '34.3', '4', '2188.', 'Europe'),
 ('Toyota Corolla Liftback', '29.8', '4', '2711.', 'Japan'),
 ('Mazda 626', '31.3', '4', '2542.', 'Japan'),
 ('Datsun 510 Hatchback', '37.0', '4', '2434.', 'Japan'),
 ('Toyota Corolla', '32.2', '4', '2265.', 'Japan'),
 ('Mazda GLC', '46.6', '4', '2110.', 'Japan'),
 ('Datsun 210', '40.8', '4', '2110.', 'Japan'),
 ('Volkswagen Rabbit C (Diesel)', '44.3', '4', '2085.', 'Europe'),
 ('Volkswagen Dasher (diesel)', '43.4', '4', '2335.', 'Europe'),
 ('Audi 5000s (diesel)', '36.4', '5', '2950.', 'Europe'),
 ('Mercedes-Benz 240d', '30.0', '4', '3250.', 'Europe'),
 ('Honda Civic 1500 gl', '44.6', '4', '1850.', 'Japan'),
 ('Renault Lecar Deluxe', '40.9', '4', '1835.', 'Europe'),
 ('Subaru DL', '33.8', '4', '2145.', 'Japan'),
 ('Volkswagen Rabbit', '29.8', '4', '1845.', 'Europe'),
 ('Datsun 280-ZX', '32.7', '6', '2910.', 'Japan'),
 ('Mazda RX-7 GS', '23.7', '3', '2420.', 'Japan'),
 ('Triumph TR7 Coupe', '35.0', '4', '2500.', 'Europe'),
 ('Honda Accord', '32.4', '4', '2290.', 'Japan'),
 ('Toyota Starlet', '39.1', '4', '1755.', 'Japan'),
 ('Honda Civic 1300', '35.1', '4', '1760.', 'Japan'),
 ('Subaru', '32.3', '4', '2065.', 'Japan'),
 ('Datsun 210 MPG', '37.0', '4', '1975.', 'Japan'),
 ('Toyota Tercel', '37.7', '4', '2050.', 'Japan'),
 ('Mazda GLC 4', '34.1', '4', '1985.', 'Japan'),
 ('Volkswagen Jetta', '33.0', '4', '2190.', 'Europe'),
 ('Renault 18i', '34.5', '4', '2320.', 'Europe'),
 ('Honda Prelude', '33.7', '4', '2210.', 'Japan'),
 ('Toyota Corolla', '32.4', '4', '2350.', 'Japan'),
 ('Datsun 200SX', '32.9', '4', '2615.', 'Japan'),
 ('Mazda 626', '31.6', '4', '2635.', 'Japan'),
 ('Peugeot 505s Turbo Diesel', '28.1', '4', '3230.', 'Europe'),
 ('Saab 900s', '0', '4', '2800.', 'Europe'),
 ('Volvo Diesel', '30.7', '6', '3160.', 'Europe'),
 ('Toyota Cressida', '25.4', '6', '2900.', 'Japan'),
 ('Datsun 810 Maxima', '24.2', '6', '2930.', 'Japan'),
 ('Volkswagen Rabbit l', '36.0', '4', '1980.', 'Europe'),
 ('Mazda GLC Custom l', '37.0', '4', '2025.', 'Japan'),
 ('Mazda GLC Custom', '31.0', '4', '1970.', 'Japan'),
 ('Nissan Stanza XE', '36.0', '4', '2160.', 'Japan'),
 ('Honda Accord', '36.0', '4', '2205.', 'Japan'),
 ('Toyota Corolla', '34.0', '4', '2245', 'Japan'),
 ('Honda Civic', '38.0', '4', '1965.', 'Japan'),
 ('Honda Civic (auto)', '32.0', '4', '1965.', 'Japan'),
 ('Datsun 310 GX', '38.0', '4', '1995.', 'Japan'),
 ('Toyota Celica GT', '32.0', '4', '2665.', 'Japan'),
 ('Volkswagen Pickup', '44.0', '4', '2130.', 'Europe')]

In [ ]:
from pyspark.sql.types import StructType
sc = spark.sparkContext
#Create empty df
schema = StructType([StructField("name", StringType(), True)])
empty = spark.createDataFrame(sc.emptyRDD(), schema)
empty.show()

+----+
|name|
+----+
+----+

In [ ]:
#Spark SQL
# Load data
#df = spark.read.csv('cars.csv', header=True, sep=";") * Data Already loaded
# Register Temporary Table
df.createOrReplaceTempView("temp")
# Select all data from temp table
spark.sql("select * from temp limit 5").show()
# Select count of data in table
spark.sql("select count(*) as total_count from temp").show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+

+-----------+
|total_count|
+-----------+
|        406|
+-----------+

In [ ]:
sc = spark.sparkContext

In [ ]:
#Save File
iris1 = sc.textFile("/content/cars.csv")
iris1.saveAsTextFile("./output/test1.csv")

In [ ]:
rdd1 = sc.parallelize([
	('Sepal.Length', [5.1,4.9,4.7,4.6]),
	('Sepal.Width', [3.5,3.0,3.2,3.1]),
	('Species', ['setosa','setosa','setosa','setosa']) 
])
print(rdd1)
print(rdd1.collect())

ParallelCollectionRDD[93] at readRDDFromFile at PythonRDD.scala:274
[('Sepal.Length', [5.1, 4.9, 4.7, 4.6]), ('Sepal.Width', [3.5, 3.0, 3.2, 3.1]), ('Species', ['setosa', 'setosa', 'setosa', 'setosa'])]

In [ ]:
dict1 = rdd1.collectAsMap()
print("dict1:",dict1)
print('Sepal.Length:',dict1['Sepal.Length'])
print('Sepal.Width:',dict1['Sepal.Width'])
print('Species:',dict1['Species'])

dict1: {'Sepal.Length': [5.1, 4.9, 4.7, 4.6], 'Sepal.Width': [3.5, 3.0, 3.2, 3.1], 'Species': ['setosa', 'setosa', 'setosa', 'setosa']}
Sepal.Length: [5.1, 4.9, 4.7, 4.6]
Sepal.Width: [3.5, 3.0, 3.2, 3.1]
Species: ['setosa', 'setosa', 'setosa', 'setosa']

In [ ]:
iris1 = sc.textFile("/content/cars.csv")
iris1_split = iris1.map(lambda var1: var1.split(","))
print(iris1_split.take(10))

[['Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin'], ['Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US'], ['Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US'], ['Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US'], ['AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US'], ['Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US'], ['Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0;70;US'], ['Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;70;US'], ['Plymouth Fury iii;14.0;8;440.0;215.0;4312.;8.5;70;US'], ['Pontiac Catalina;14.0;8;455.0;225.0;4425.;10.0;70;US']]

In [ ]:
print(iris1_split.map(lambda col:col[0]).take(10))

['Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin', 'Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US', 'Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US', 'Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US', 'AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US', 'Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US', 'Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0;70;US', 'Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;70;US', 'Plymouth Fury iii;14.0;8;440.0;215.0;4312.;8.5;70;US', 'Pontiac Catalina;14.0;8;455.0;225.0;4425.;10.0;70;US']

In [ ]:
lst1 = rdd1.map(lambda lst: (lst[0], lst[1]))
print(lst1.collect())
lst1.sortByKey(ascending=True,keyfunc=lambda k: k).take(10)

[('Sepal.Length', [5.1, 4.9, 4.7, 4.6]), ('Sepal.Width', [3.5, 3.0, 3.2, 3.1]), ('Species', ['setosa', 'setosa', 'setosa', 'setosa'])]

[('Sepal.Length', [5.1, 4.9, 4.7, 4.6]),
 ('Sepal.Width', [3.5, 3.0, 3.2, 3.1]),
 ('Species', ['setosa', 'setosa', 'setosa', 'setosa'])]

In [ ]:
SL = rdd1.map(lambda var1: ['Sepal.Length',(var1[0])])
SW = rdd1.map(lambda var1: ['Sepal.Width',(var1[1])])
CV = rdd1.map(lambda var1: ['Species',var1[2]])
print(SL.take(10))
print(SW.take(10))
union_data = sc.union([SL,SW])
print(union_data.take(10))

[['Sepal.Length', 'Sepal.Length'], ['Sepal.Length', 'Sepal.Width'], ['Sepal.Length', 'Species']]
[['Sepal.Width', [5.1, 4.9, 4.7, 4.6]], ['Sepal.Width', [3.5, 3.0, 3.2, 3.1]], ['Sepal.Width', ['setosa', 'setosa', 'setosa', 'setosa']]]
[['Sepal.Length', 'Sepal.Length'], ['Sepal.Length', 'Sepal.Width'], ['Sepal.Length', 'Species'], ['Sepal.Width', [5.1, 4.9, 4.7, 4.6]], ['Sepal.Width', [3.5, 3.0, 3.2, 3.1]], ['Sepal.Width', ['setosa', 'setosa', 'setosa', 'setosa']]]

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode, initcap  # Some functions that later will be useful

spark = SparkSession \
        .builder \
        .appName("PySparkETLTelecom") \
        .getOrCreate()